@model DripBackendCapstoneNSS.Models.ViewModels.UserActivityListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Water Usage Tracker</h2>

<p>
    <a asp-action="Create">Add New Water Usage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserActivity.LiterTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserActivities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiterTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
